<%= form_with(model: time_track, local: true) do |form| %>
  <% if time_track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_track.errors.count, "error") %> prohibited this time_track from being saved:</h2>

      <ul>
      <% time_track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :time_track_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :time_track_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
