<p id="notice"><%= notice %></p>

<h1>Time Tracks</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_tracks.each do |time_track| %>
      <tr>
        <td><%= time_track.content %></td>
        <td><%= time_track.user_id %></td>
        <td><%= link_to 'Show', time_track %></td>
        <td><%= link_to 'Edit', edit_time_track_path(time_track) %></td>
        <td><%= link_to 'Destroy', time_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Track', new_time_track_path %>
