<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @time_track.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @time_track.user_id %>
</p>

<%= link_to 'Edit', edit_time_track_path(@time_track) %> |
<%= link_to 'Back', time_tracks_path %>
