%h1#notice= notice
- if @timetracks.count >0
  %br/
  %br/
  %br/
  %br/
  %h2 Lista wejść:
- @timetracks.each do |timetrack|
  %p
    W dniu
    %strong
      = timetrack.entry_time_start.strftime('%d-%m-%Y')
    = "od  #{timetrack.entry_time_start.strftime('%H:%M:%S')}"
    - unless timetrack.entry_time_end.nil?
      = "do #{timetrack.entry_time_end.strftime('%H:%M:%S')}"
      = "pracowałeś przez: #{format_time_summary(timetrack.entry_time_summary)}"
